.header {  
  background-color: #F7F8F9;
  border: 2px solid #C9C9C9;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  &__logo {
    width: 70px;
    height: 55px;
  }

  &__btn {
    background: transparent;
    color: #2EA7DB;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #2EA7DB;
    padding: 5px 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  background-color: #303030;
  padding: 25px 0;
  color: #fff;
  font-family: $nav-font;
  
  & a {
    color: #c9c9c9;
    cursor: pointer;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  &__logo {
    width: 67px;
    height: 55px;
  }

  &__copyright {
    margin: 20px 0 10px;
  }

  &__doc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 120px;

    &-item {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__links {
    font-size: 15px;
    line-height: 20px;

    &:hover {
      color: #199ed8;
    }
  }

  &__contact-links {
    display: flex;
    flex-direction: column;
    margin: 5px 0 15px;
    gap: 1px;
    font-size: 15px;
    line-height: 23px;
  }

  &__icons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    
    &-item {
      width: 30px;
      height: 30px;
      fill: #fff;
      background-color: #474C58;
      border-radius: 50%;
      padding: 3px;
      text-align: center;
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
  }

  &-mobile {
    &__copyright, &__doc {
      display: none;
    }
  }
}
