.btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.17);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 270px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  letter-spacing: .5px;
  cursor: pointer;
  padding: 13px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    transition: box-shadow 0.4s;
  }

    &--transparent {
      background-color: transparent;
      color: $blue-color;
      border: 1px solid $blue-color;
      box-shadow: none;
      font-weight: 400;
      text-shadow: none;

      &:hover {
        text-decoration: underline;
        box-shadow: none;
      }
    }

    &--blue {
      background-color: $blue-color;
    }

    &--red {
      background-color: #fe8380;
    }

    &--white {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 15px;
      line-height: 36px;
      min-width: 150px;
      border-radius: 2px;

      &:hover {
        box-shadow: 0 3px 3px 0 hsla(0,0%,100%,.14),0 1px 7px 0 hsla(0,0%,100%,.12),0 3px 1px -1px hsla(0,0%,100%,.2);
      }
    }
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  &-content {
    display: flex;
    gap: 40px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & svg {
      width: 20px;
      height: 27.2px;
    }
  }

  &-link {
    font-weight: 600;

    &--blue {
      color: $blue-color;
    }

    &--white {
      color: #fff;
      font-size: 18px;
      line-height: 25px;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.link {
  color: $blue-color;
}

.facebook {
  &:hover {
    background-color: #3B5A98;
  }
}

.viber {
  &:hover {
    background-color: #7E37B1;
  }
}

.telegram {
  &:hover {
    background-color: #17A3E6;
  }
}

.btn-menu {
  height: 48px;
  width: 48px;
  display: none;
  z-index: 1;
  position: relative;

  &__line {
    width: 45px;
    height: 5px;
    background-color: #c9c9c9;
    margin: 3px 0px;
    border-radius: 5px;
  }

  &.is-active {
    .btn-menu__line {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2),
      &:nth-child(3) {
        position: absolute;
        top: 15px;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.more {
  display: none;
}